
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>



</head>
<body>
	<div align = "center">
<div>
	<h1>Marks List</h1>
	<tr>
	<div align = "center" >
	<h4><a th:href="@{'/Course/addcourse'}">New Data</a>	   
</div>
	
	</tr>

	<div class="col-sm-8" align = "center">
        <div class="panel-body" align = "center" >
                 
                 
  	<table class="table">
 	<thead class="thead-dark">
        <tr>
      	     <th>ID no.</th>
            <th>Name</th>
            <th>Marks</th>
             <th>edit</th>
             <th>delete</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="course : ${listcourse}">
		<td th:text="${course.id}">ID</td>
		<td th:text="${course.coursename}">Name</td>
		<td th:text="${course.duration}">Marks</td>

		<td>
			<a th:href="@{'/Course/edit/' + ${course.id}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/Course/delete/' + ${course.id}}">Delete</a>
		</td>		    
		</tr> 
  </tbody>
  </table>                 
</div>
</div> 

</tr>

</tbody>
</table>
<div>
</div>
</body>
</html>
